<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-site-verification" content="Jv358zHmX8Svzigm9DwpBs4f8hAls2PRx9o2sBR2984" />
  <meta name="google-signin-client_id" content="475980933205-2r3kl9imak1p3mth0mf61pi20tgjhtfb.apps.googleusercontent.com">


  <title>Fresh Food - Grocery Expiration Date Tracker</title>

  <!-- Bootstrap Core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/stylesheets/4-col-portfolio.css" rel="stylesheet">
  <link href="/stylesheets/custom.css" rel="stylesheet">

  <!-- Required for signin  -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/js/application.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- <script type="text/javascript"> 
  // var auth2 = auth2 || {};

  // (function() {
  //   var po = document.createElement('script');
  //   po.type = 'text/javascript'; po.async = true;
  //   po.src = 'https://plus.google.com/js/client:plusone.js?onload=startApp';
  //   var s = document.getElementsByTagName('script')[0];
  //   s.parentNode.insertBefore(po, s);
  // })();
  // </script> -->
</head>

<body>
    <header class="fresh-veg">    
    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-justified" role="navigation">
            <!-- <div class="container"> -->
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Main Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= APP_NAME %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
<!--                     <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
                <!-- /.navbar-collapse -->
            <!-- </div> -->
            <!-- /.container -->
        </nav>
        <div class="container jumbotron">
            <div class="col-xs-12">
                <div class="row">
                    <h1 class="page-header"><a href="/"><%= APP_NAME %></a></h1>
                </div>                
                <div class="row">
                    <form action="/add-item" method="post">
                      <dl>
                        <dt>
                          <label for="add-item">Food</label>
                        </dt>
                        <dd>
                          <input class="form-control" name="food" type="text" value="" />
                        </dd>
                        <dt>
                          <label for="category">Category</label>
                        </dt>
                        <dd>
                          <select class="form-control" name="category" type="text" value="">
                            <% session[:categories].each do |category| %>
                              <option><%= category %></option>
                            <% end %>
                          </select>
                        </dd>
                        <dt>
                          <label for="days">Days until expired: </label>
                        </dt>
                        <dd>
                          <select class="form-control" name="days" type="text" value="">
                            <% (0..31).each do |num| %>
                              <option><%= num %></option>
                            <% end %>
                          </select>
                        </dd>
                      </dl>
                      <button class="btn btn-default btn-add" type="submit">add</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Heading -->
    <main>
        
        <div>
            <% if session[:error] %>
            <div class="container alert alert-danger">
                <h4><%= session.delete(:error) %></h4>
            </div>
            <% elsif session[:success] %>
            <div class="container alert alert-success">
                <h4><%= session.delete(:success) %></h4>
            </div>    
            <% end %>    

            <!-- Page Content -->
                <content>

                    <%== yield %>

                </content>

                <hr>
            </div>

    <!-- /.container -->
        </main>


        <!-- Footer -->
        <footer class="fresh-veg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright &copy; <%= APP_NAME %> <%= Date.today.year %></p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
             <!-- container  -->
        </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- application js  -->
    <script src="js/application.js"></script>


</body>

</html>